.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerImg {
  background-image: url("./assets/Footers-bg.png");
  height: 68vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

.faq {
  background-image: url("./assets/faq-bg.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.category {
  background-image: url("./assets/categories-bg.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.traditional {
  background-image: url("./assets/traditional-bg.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-bg {
  background-image: url("./assets/inner-bg.png");
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form-bg {
  background-image: url("./assets/form_contact_bg.png");
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*-------- navbar------------ */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav
{
    background: transparent;
    width: 100%;
}
.header{
    position: fixed;
    /* height: 100px; */
    top: 0;
    left: 0;
    z-index: 999;
    transition:all 0.5s ease-in-out;
    /* overflow: hidden;  */
    width: 100%;
}
.header-bg
{
    background-color: #000929;
    transition: all 0.4s ease-in-out;
}
.line
{
display: inline-block;
position: relative;
color: #fff;
font-weight: 500;
font-size: 16px;
}

.line::after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.063rem;
    bottom: 0;
    left: 0;
    background-color: #f01543;
    transform-origin: bottom left;
    transition: transform 0.40s ease-out;
}
.line:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.edit1:hover #one
{
    background-color: #fff;
    color: #f01543;
    transition: all 0.4s linear;
}
.edit2:hover #two {
    background-color: #fff;
    color: #f01543;
    transition: all 0.4s linear;
}
#btn
{
    background: transparent;
    border: 0.063rem solid #f01543;
}
#btn:hover
{
    background: #f01543;
    transition: all 0.3s linear;
}

/* category */

/* .bg
{
    background-image: url('./assets/categories-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 100%;
} */

.button {
    display: block;
    position: relative;
    text-decoration: none;
    /* font-family: "Helvetica", sans-serif; */
    color: black;
    background: #e5e6eb;
    padding: 35px 45px;
    border: 1px solid #e5e6eb;
    /* text-transform: uppercase; */
    border-radius: 15px;
    font-size: 22px;
    font-weight: 500;
    /* width: 160px; */
    overflow: hidden;
}

.span {
    z-index: 5;
    position: relative; 
    align-items: center;
    transition: color 350ms ease;
}

.button:hover span {
    color: white;
}

.button::after,
.button::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: red;
    z-index: -1;
}

.button::before {
    /*   background: blue; */
    transform: translateX(-100%);
    z-index: 1;
}

.button:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
}

.button::after {
    z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
}

.button:hover:after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 350ms 360ms ease;
}
.btn{
    border: 1px solid #f01543;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    color: #f01543;
    transition: all 0.25s linear;
}
.btn:hover
{
  background-color: #f01543;
  color: #fff;
}

.img1
{
    position: relative;
    height: 21.25rem;
    width: 48.125rem;
    overflow: hidden;
    cursor: pointer;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #394150;
  border-radius: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}